[submodule ".registry"]
	path = .registry
	url = https://github.com/sciom/sciom.r-universe.dev
	branch = HEAD
[submodule "BayesianDEB"]
	path = BayesianDEB
	url = https://github.com/sciom/BayesianDEB
